<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
			<title> My messageboard page</title>
	</head>
	
	<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My Message board</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('logout') }}">Log out</a></li>
				{% else %}
				<li><a href="{{ url_for('login') }}">Log in</a></li>
				{% endif %}
			</ul>
			<div class ="row">
			
				<!--table to see what is happening-->
				<div class="container-feed col col-md-12 scrolliy">
					<table class="table">
						<thread>
							<tr>
								<th>newsFeed</th>
							</tr>
						</thread>
						<tbody id="feed">
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<!--userlist-->
				<div class="container-fixed col col-md-4 scrollit">
					<table class="table">
						<thread>
							<tr>
								<th>allusers</th>
							</tr>
						</thread>
						<tbody id="users"></tbody>
					</table>
				</div>
				
				<!--listofrooms available-->
				<div class = "cntainer-fixed col col-md-4 scrollit">
					<table class="table">
						<thread>
							<tr>
								<th>Roomsavailable</th>
								<th><button type="button" class="form-control btn btn-success" style=width: 50%; float: right;" data-toggle="modal" data-target="#RoomModal"/>Create</button></th>
							</tr>
						</thread>
						<tbody id="rooms">
						</tbody>
					</table>
				</div>
			</div>  <!--check this to add room's users(above it-->
			<br/>
			<br/>
			
			<div id="chat">
			</div>
		</div>
	</nav>
	
	<div class="container">
	<style>
	* {
	  box-sizing: border-box;
	}

	/* Create three equal columns that floats next to each other */
	.column {
	  float: left;
	  width: 33.33%;
	  padding: 10px;
	  height: 300px; /* Should be removed. Only for demonstration */
	}

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .column {
		width: 100%;
	  }
	}
	</style>
	<h2>Groups available</h2>
	<p>Note: you need to have sign in to be able to join a group.</p>
		<div class="row">
			<div class="column" style="background-color:#aaa;">
			<h2>groupname:</h2>
			1.how to use flask!.
			{% if current_user.is_authenticated %}
			<form id="myForm" action="." method="POST">
					<div class="form-group">
						
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" onclick="myFunction()" class="btn btn-success">Join</button>
			</form>	
			{% endif %}
			</div>
			<div class="column" style="background-color:#bbb;">
			<h2>groupname:</h2>
			2.let us talk python.
			{% if current_user.is_authenticated %}
			<form id="myForm1" action="." method="POST">
					<div class="form-group">
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" onclick="myFunction1()" class="btn btn-success">Join</button>
			</form>	
			{% endif %}
			</div>
			<div class="column" style="background-color:#ccc;">
			<h2>groupname:</h2>
			3.how to use angular.
			{% if current_user.is_authenticated %}
			<form id="myForm2" action="." method="POST">
					<div class="form-group">
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" onclick="myFunction2()" class="btn btn-success">Join</button>
			</form>	
			{% endif %}
			<script>
			function myFunction() {
			if request.form["password"]=="flask":
				document.getElementById("myForm").reset();
				return redirect (url_for('group1'))
			
			}
			</script>
			<script>
			function myFunction1() {
			if request.form["password"]=="python":
				document.getElementById("myForm1").reset();
				return redirect (url_for('group2'))
			
			}
			</script>
			<script>
			function myFunction2() {
			if request.form["password"]=="angular":
				document.getElementById("myForm2").reset();
				return redirect (url_for('group3'))
			
			}
			</script>
			</div>
			
		</div>
		
		
	</div><!--/.container -->
	</body>
</html>