<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
			<title> My messageboard page</title>
	</head>
	
	<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My Message board</a>
			</div>
			<div class ="row">
			
				<!--table to see what is happening-->
				<div class="container-feed col col-md-12 scrolliy">
					<table class="table">
						<thread>
							<tr>
								<th>newsFeed</th>
							</tr>
						</thread>
						<tbody id="feed">
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<!--userlist-->
				<div class="container-fixed col col-md-4 scrollit">
					<table class="table">
						<thread>
							<tr>
								<th>allusers</th>
							</tr>
						</thread>
						<tbody id="users"></tbody>
					</table>
				</div>
				
				<!--listofrooms available-->
				<div class = "cntainer-fixed col col-md-4 scrollit">
					<table class="table">
						<thread>
							<tr>
								<th>Roomsavailable</th>
								<th><button type="button" class="form-control btn btn-success" style=width: 50%; float: right;" data-toggle="modal" data-target="#RoomModal"/>Create</button></th>
							</tr>
						</thread>
						<tbody id="rooms">
						</tbody>
					</table>
				</div>
			</div>  <!--check this to add room's users(above it-->
			<br/>
			<br/>
			
			<div id="chat">
			</div>
		</div>
	</nav>
	
	<div class="container">
	
		<div class="row">
			group1: how to use flask!.
			<form action="." method="POST">
					<div class="form-group">
						
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" class="btn btn-success">Join</button>
			</form>	
		</div>
		
		<div class="row">
			group2: let us talk python.
			<form action="." method="POST">
					<div class="form-group">
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" class="btn btn-success">Join</button>
			</form>	
		</div>
		
		<div class="row">
			group3: how to use angular.
			<form action="." method="POST">
					<div class="form-group">
						<input class="form-control" id="password" name="password" placeholder="Enter group password to enter">
					</div>
				<button type="submit" class="btn btn-success">Join</button>
			</form>	
		</div>
		
		{% for comment in comments %}
			<div class="row">
				{{comment.content}}
			</div>
		{% endfor %}
		
		<div class="row">
			<form action="." method="POST">
				<textarea class="form-control" name="contents" placeholder="Enter a message"></textarea>
				<input type="submit" class="btn btn-success" value="Post message">
			</form>
		</div>
	</div><!--/.container -->
	</body>
</html>